<!DOCTYPE html>
<html lang="en">

<head>
	<title> BaechDay | SIGN UP :: w3layouts</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- bootstrap-CSS -->
	<link rel="stylesheet" href="css/bootstrap-select.css">
	<!-- bootstrap-select-CSS -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />

	<!-- style.css -->

	<!-- Navigation-CSS -->
	<!-- meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<script type="text/javascript" src="js/jquery.min.js"></script>

	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-select.js"></script> -->


</head>

<body>
	<!-- Navigation -->
	<!-- Navigation -->
	<!-- //Navigation -->
	<!-- header -->
	<header>
		<div class="w3ls-header">
			<!--header-one-->
			<div class="w3ls-header-right">
				<ul>
					<li class="dropdown head-dpdn">
						<a href="signin.html" aria-expanded="false">
							<i class="fa fa-user" aria-hidden="true"></i> Sign In</a>
					</li>
				</ul>
			</div>

			<div class="clearfix"> </div>
		</div>
		<div class="container">
			<div class="agile-its-header">
				<div class="logo">
					<h1>
						<a href="index.html">
							<span>Baech</span>Day</a>
					</h1>
				</div>
				<a class="post-w3layouts-ad" href="post-ad.html">Post Free Ad</a>
			</div>
		</div>
	</header>
	<!-- //header -->

	<!-- //header -->
	<!-- sign up form -->
	<section>
		<div id="agileits-sign-in-page" class="sign-in-wrapper">
			<div class="agileinfo_signin">
				<h3>Sign Up</h3>
				<form action="JavaScript:void(0)" onsubmit="signup()" id="form1">
					<input type="text" id="name" name="Name" placeholder="Your Name" required="">
					<input type="text" id="email" name="Email" placeholder="Your Email" required="">
					<input type="tel" id="number" name="tel" placeholder="Mobile" required="">
					<input type="password" id="password" name="Password" placeholder="Password" required="">
					<input type="submit" value="Sign Up">
				</form>
			</div>
		</div>
	</section>
	<!-- //sign up form -->
	<!--footer section start-->
	<footer>
		<div class="w3-agileits-footer-top">
			<div class="container">
				<div class="wthree-foo-grids">
					<div class="col-md-9 wthree-footer-grid">
						<h4 class="footer-head">About Us</h4>
						<p style="text-align:justify;">
							BaechDay.pk is a free local classifieds site. Sell anything from used cars to mobiles, furniture, laptops, clothing and more.
							Submit ads for free. If you want to buy something - here you will find interesting items, cheaper than in the store.
							Start buying and selling in the most easy way on BaechDay.pk.
						</p>
					</div>
					<div class="col-md-3 wthree-footer-grid right">
						<h4 class="footer-head">Contact Us</h4>
						<span class="hq">Our headquarters</span>
						<address>
							<ul class="location">
								<li>
									<span class="glyphicon glyphicon-map-marker"></span>
								</li>
								<li>I.T Planet Head Office,Tariq Road Karachi. </li>
							</ul>
							<div class="clearfix"> </div>
							<ul class="location">
								<li>
									<span class="glyphicon glyphicon-earphone"></span>
								</li>
								<li>+92-2136548</li>
							</ul>
							<div class="clearfix"> </div>
							<ul class="location">
								<li>
									<span class="glyphicon glyphicon-envelope"></span>
								</li>
								<li>
									<a href="info@itplanet.com">mail@itplanet.com</a>
								</li>
							</ul>
						</address>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="agileits-footer-bottom text-center">
			<div class="container">
				<div class="w3-footer-logo">
					<h1>
						<a href="index.html">
							<span>Baech</span>Day</a>
					</h1>
				</div>
				<div class="w3-footer-social-icons">
					<ul>
						<li>
							<a class="facebook" href="https://www.facebook.com/najamshehzadbutt" target="_blank">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a class="twitter" href="https://twitter.com/NajamShehzad_B" target="_blank">
								<i class="fa fa-twitter" aria-hidden="true"></i>
								<span>Twitter</span>
							</a>
						</li>

						<li>
							<a class="googleplus" href="https://plus.google.com/u/0/115993998049444930711" target="_blank">
								<i class="fa fa-google-plus" aria-hidden="true"></i>
								<span>Google+</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="copyrights">
					<p> © 2018 BachDay. All Rights Reserved | Design by
						<a href="https://www.facebook.com/najamshehzadbutt" target="_blank"> Najam Butt</a>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</footer>
	<!--footer section end-->
	<script src="javascript/signup.js"></script>
</body>
<!-- Navigation-JavaScript -->

<!-- start-smoth-scrolling -->

<!-- start-smoth-scrolling -->
<!-- //here ends scrolling icon -->

</html>